html {
    height: 100%;
  }
  
  body {
    margin: 0;
    height: 100%;
  }
  
  .grid {
    width: 400px;
    height: 600px;
    background: yellow;
    position: relative;
    overflow: hidden;
  }
  
  .doodler {
    width: 60px;
    height: 85px;
    background: red;
    position: absolute;
  }
  
  .platform {
    width: 85px;
    height: 15px;
    background: green;
    position: absolute;
  }